body {
  margin: 0;
  padding: 0;
  background: grey;
  height: 100vh;
}

/* CSS grid is supported by majority of browsers and is perfect for flexible grid layouts */
/* By rotating the grid we can have the blocks fall without having placeholder blocks */
.grid {
  display: grid;
  transform: rotate(180deg);
  height: 100vh;
}
